{
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "printWidth": 140,
  "bracketSpacing": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "insertPragma": false,
  "proseWrap": "preserve"
}
